<h1>Building Management System</h1>

<style>
    body {
        font-family: Arial;
        margin: 0;
    }

    .navbar {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        background-color: #333;
    }

    .btn {
        padding: 10px 15px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 14px;
    }

    .btn:hover {
        background-color: #45a049;
    }

    h1 {
        margin: 20px;
    }
</style>

<div class="navbar">
    <a class="btn" href="{% url 'persons' %}">Persons</a>
    <a class="btn" href="{% url 'residents' %}">Residents</a>
    <a class="btn" href="{% url 'managers' %}">Managers</a>
    <a class="btn" href="{% url 'buildings' %}">Buildings</a>
    <a class="btn" href="{% url 'apartments' %}">Apartments</a>
    <a class="btn" href="{% url 'billings' %}">Billings</a>
    <a class="btn" href="{% url 'complaints' %}">Complaints</a>
    <a class="btn" href="{% url 'pending_complaints' %}">Pending Complaints</a>
    <a class="btn" href="{% url 'solved_complaints' %}">Solved Complaints</a>
    <a class="btn" href="{% url 'notices' %}">Notices</a>
    <a class="btn" href="{% url 'pending_bill' %}">PendingBill</a>
    <a class="btn" href="{% url 'paid_bill' %}">PaidBill</a>
    <a class="btn" href="{% url 'reports' %}">Report</a>
</div>
<h2>Billing Table</h2>

<table border="1">
<tr>
<th>bill_id</th>
<th>bill_type</th>
<th>amount</th>
<th>date_created</th>
<th>apartment_id</th>
<th>manager_id</th>
<th>resident_id</th>
</tr>

{% for b in bills %}
<tr>
<td>{{ b.bill_id }}</td>
<td>{{ b.bill_type }}</td>
<td>{{ b.amount }}</td>
<td>{{ b.date_created }}</td>
<td>{{ b.apartment.id }}</td>
<td>{{ b.manager.person_id }}</td>
<td>{{ b.resident.person_id }}</td>
</tr>
{% endfor %}
</table>